body {
    font-size: 1rem !important;
}

i.fuente {
    font-family: 'Raleway', Arial, sans-serif!important;
}

.form-check-input {
    width: 10px !important;
}
.modal-header {
    background-color: #c31e23;
    color:white;
}
.close {
    color: white !important;
}
.btn-secondary {
    background-color: #c31e23 !important;
}
.fas{
    font-size:18px !important;
}

.button-edit {
    margin-right: 10px;
}

.table-hover {
    background-color: #c31e23 !important;
}
.table {
    font-size:1rem !important;
}
h3{
    font-size:1.1rem !important;
}
h5{
    font-size:1rem !important;
}
.nav-link {
    width: 100% !important;
    
}

.link-download-cat{
    font-weight:bold;
}
.pagination {
    font-weight: bold;
}