body{

    background-color: white; 
}

table th, table td {
    text-align: center;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

table tr:nth-child(even) {
    background-color: white;
}
table tr {
    color: #111111 !important;
}
.table th, .table td {
    border-bottom: 2px solid #d4d4d4;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}
.table {
    color: gray !important;
    border-bottom: 2px solid #d4d4d4!important;
}

.pagination li:hover {
    cursor: pointer;
    background-color: red;
}
.pagination li {
    width: inherit;
    margin: auto;
    border-radius: 6px;
}
.pagination li span{
    padding: 1px 8px 1px 8px
}

@media (min-width: 768px) {
    .total {
        left: -57px;
        right: -16px;
    }
    .cardo {
        height: inherit;
    }
    .table.table-striped.table-class td {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .total {
        left: -30px;
        right: 0px;
    }
    .cardo {
        height: 85px;
    }
    .table.table-striped.table-class td{
        font-size:.94rem;
    }
}
