body{

    background-color: white; 
}

table th, table td {
    text-align: center;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

table tr:nth-child(even){
    background-color: white;
}
.table th, .table td {
    border-bottom: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}
.table {
    color: gray!important;
}

.pagination li:hover {
    cursor: pointer;
    background-color: red;
}
.pagination li {
    width: inherit;
    margin: auto;
    border-radius: 6px;
}
.pagination li span{
    padding: 1px 8px 1px 8px
}