body{

    background-color: white; 
}

table th, table td {
    text-align: center;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

table tr:nth-child(even){
    background-color: white;
}

.pagination li:hover {
    cursor: pointer;
    background-color: blue;
}
.pagination li {
    width: inherit;
    margin: auto;
}
.pagination li span{
    padding: 1px 8px 1px 8px
}