@model DotechRewards.Models.UsuarioModel

@{
    ViewBag.Title = "Home Page";
    string contrasena = "";
}
<html>
<head>
    <script src="~/Content/js/home.js"></script>
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
</head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="~/Content/images/login_reward.png" id="icon" alt="User Icon" width="60" height="125" style="margin-top:30px; margin-bottom: 20px;" />
                </div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "Login" }))
                {
                    <div class="input-group mb-5">
                        @Html.TextBoxFor(m => m.usuario, new { id = "usuario", @placeholder = "Usuario", @class = "form-control form-control-lg", @maxlength="25", @style="text-align: right; border-radius: 5px; background-color: white; height:38px; border: 1px solid gray;" })
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2" style="margin-top:5px; margin-right:3px; height:88%;">@@dotech.com.mx</span>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.contrasena, new { id = "contrasena", @placeholder = "Contraseña", @class = "form-control form-control-lg", @maxlength="20",@type = "password", @style = "margin-left: 5px; width: 98%; text-align:center; margin-top:-37px; height:38px!important; border: 1px solid gray; font-size:1.03rem" })
                    <button type="submit" class="btn btn-success" onclick="btnLogin()" style="margin-top:15px; margin-bottom:15px; width: 150px;"> Entrar </button>
                }
                <!-- Olvidar contraseña -->
                <div id="formFooter" style="padding: 5px;">
                    <a id="OlvideCon" class="underlineHover" href="#" onclick="olvideContrasena()">¿Olvidaste tu contraseña?</a>
                </div>

            </div>
        </div>
    </body>
</html>